body {
    background-color: lightblue;
    color: #336699;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Miniver', cursive;
    font-size: 500%;
}

p {
    font-size: large;
}

#sidebar-wrapper {
    background-color: #400D12;
    font-size: large;
}

a {
    color: #040F4F;
}

div .box {
    border: solid 3px #336699;
    border-radius: 25px;
    padding: 2%;
    margin: 2%;
}