{% extends "whl_base.html" %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <p>WoohooList is a community where people help each other achieve their goals.</p>

    <p>Olympic athletes have their cheering fans, and we have each other.</p>

    <p>Together, we can achieve better physical health, manage our money better, and learn new things.</p>

    <p>Together, we can do things we've never been committed enough or brave enough to do alone.</p>

    <p>Join in! Feel the power of community!</p>

{% endblock %}